* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
}

#wrapper {
    /*for pressed footer*/
    display: table;
    height: 100%;
}

/*--------------------HEADER-STARTS-------------------*/
header {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.header-inner {
    max-width: 1252px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 90px;
    height: 38px;
    float: left;
    margin-top: 36px;
}

.logo a {
    display: block;
    width: 100%;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.top-menu {
    float: right;
    width: 41.7%;
    height: 100%;
}

.navigation {
    background: rgba(0, 0, 0, 0) url("../img/nav.png") no-repeat scroll 0 0;
    display: none;
    float: right;
    height: 30px;
    margin-right: 2%;
    margin-top: 41px;
    overflow: hidden;
    cursor: pointer;
    width: 40px;
}

.vertical-menu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    display: none;
    height: auto;
    left: 0;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 3;
}

.vertical-menu li {
    width: 100%;
    height: 40px;
    border-top: 1px solid #aeaeae;
}

.vertical-menu a {
    font-size: 15px;
    color: #898989;
    font-family: 'Arial Black', Helvetica, Verdana, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 3;
    display: block;
}

.close-nav {
    height: 10px;
    cursor: pointer;
    position: absolute;
    right: 31px;
    top: 5px;
    width: 10px;
    background: url(../img/close.png) no-repeat;
}

.close-nav:hover {
    opacity: 0.5;
    cursor: pointer;
}

.top-menu li {
    display: block;
    float: left;
    text-align: center;
    width: auto;
    margin-top: 44px;
    height: 23px;
}

.top-menu li a {
    text-transform: uppercase;
    display: block;
    color: #898989;
    font-size: 11.3px;
    letter-spacing: 1.1px;
    width: auto;
    font-family: 'Arial Black';
    line-height: 2;
    padding: 0 12px;
    /*for firefox*/
    font-family: 'Arial Black', Helvetica, Verdana, sans-serif;
    font-weight: 900;
}

.active {
    border: 1px solid #12acc6;
}

.top-menu li:last-child {
    margin-right: 0px;
}

.top-menu li a:hover {
    color: #12acc6;
}
/*--------------------HEADER-ENDS---------------------*/
/*--------------------MAIN-STARTS---------------------*/
main {
    /*  max-width: 1365px;*/
    margin: 0 auto;
    width: 100%;
    height: auto;
    /*for pressed footer*/
    display: table-row;
    height: 100%;
}

.about-us {
    width: 100%;
    height: auto;
    background: #4e70a0;
}

.about-us-inner {
    width: 100%;
    max-width: 1285px;
    margin: 0 auto;
}

.about-us h2 {
    font-family: 'Arial';
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 81px;
    margin-bottom: 37px;
    text-transform: uppercase;
    display: block;
}

.top {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.col {
    float: left;
    margin-right: 4.3%;
    width: 25.6%;
}

.col img {
    width: 100%;
    height: auto;
}

.col:first-child {
    margin-top: 17px;
}

.col:nth-child(2n) {
    width: 39.3%;
    margin-right: 4.9%;
}

.col:last-child {
    margin-right: 0px;
    margin-top: 17px;
}

.col h3 {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-bottom: 12px;
    letter-spacing: 0.7px;
}

.col p {
    font-family: 'Arial';
    font-size: 14px;
    color: #fff;
    line-height: 1.3;
}

.bottom {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
    padding-bottom: 74px;
}

.bottom div {
    float: left;
}

.bottom img {
    width: 100%;
    height: auto;
}

.left {
    margin-left: -1.2%;
    width: 21%;
    margin-right: 6.2%;
}

.bottom div:last-child {
    float: right;
}

.bottom div:nth-child(2n) {
    margin-top: 15px;
    width: 54%;
}

.bottom h3 {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-bottom: 11px;
    letter-spacing: 0.7px;
}

.bottom p {
    font-family: 'Arial';
    font-size: 14px;
    color: #fff;
    line-height: 1.3;
    letter-spacing: 0.6px;
}

.right {
    width: 19.3%;
    margin-top: -9px;
}

.mission {
    max-width: 967px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 60px;
}

.mission div {
    float: left;
    width: 40%;
    margin-top: 84px;

}

.mission div:first-child {
    margin-right: 17.3%;
}

.mission div h4 {
    text-transform: uppercase;
    font-family: 'Arial';
    font-weight: bold;
    color: #6b6b6e;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.mission div p {
    font-family: 'Arial';
    color: #6b6b6e;
    line-height: 1.14;
    letter-spacing: -0.2px;
}

/*--------------------MAIN-ENDS----------------------*/
/*--------------------FOOTER-STARTS------------------*/
footer {
    width: 100%;
    background: #f5f5f5;
    overflow: hidden;
}

.footer-inner {
    width: 100%;
    max-width: 1255px;
    height: 100%;
    margin: 0 auto;
}

.footer-logo {
    margin-top: 79px;
    margin-right: 12.9%;
    width: 8.8%;
    float: left;
    min-width: 50px;
}

.footer-logo a {
    width: 100%;
    height: 100%;
    display: block;
}

.footer-logo img {
    width: 100%;
    height: auto;
}

.contact-dev {
    width: 56%;
    padding-top: 70px;
    float: left;
}

.item {
    width: 50%;
    height: 100%;
    float: left;
}

.item:last-child {
    width: 33%;
}

.item span {
    font-family: 'Arial';
    font-size: 24px;
    color: #828181;
    margin-bottom: 11px;
    display: block;
}

.item p {
    display: block;
    font-family: 'Arial';
    font-size: 14px;
    color: #828181;
    line-height: 1.7;
}

.item address {
    display: block;
    font-family: 'Arial';
    font-size: 14px;
    color: #828181;
    line-height: 1.8;
}

.social-items {
    width: 22%;
    height: auto;
    float: right;
    margin-top: 105px;
    overflow: hidden;
}

.social-items div {
    width: 25%;
    height: 33px;
    float: left;
    /*  margin-right: 17%;*/
}

.social-items div a {
    width: 33px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.social-items div:last-child {
    margin-right: 0px;
}

.google {
    background: url(../img/google.png) no-repeat;
    float: left;
}

.linked {
    background: url(../img/linked.png) no-repeat;
}

.twitter {
    background: url(../img/twitter.png) no-repeat;
    margin-right: 13% !important;
}

.facebook {
    background: url(../img/facebook.png) no-repeat;
    float: right;
}

.all-rights {
    display: block;
    margin-top: 50px;
    float: right;
    font-family: 'Arial';
    color: #787777;
    font-size: 12px;
    width: 274px;
    padding-bottom: 52px;
}

/*--------------------FOOTER-ENDS--------------------*/
/*--------------------MEDIA-QUERIES-START--------------------*/

@media only screen and (min-width: 320px) and (max-width: 1280px), only screen and (min-device-width: 320px) and (max-device-width: 1280px) {
    .top-menu {
        width: 50%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1195px), only screen and (min-device-width: 320px) and (max-device-width: 1195px) {
    .top-menu {
        width: 55%;
    }

}

@media only screen and (min-width: 320px) and (max-width: 1024px), only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .top-menu {
        width: 60%;
    }

}

@media only screen and (min-width: 320px) and (max-width: 960px), only screen and (min-device-width: 320px) and (max-device-width: 960px) {
    .top-menu {
        width: 65%;
    }

    .mission div {
        float: none;
        margin: 47px auto !important;
        width: 60%;
    }

    .mission div h4 {
        text-align: center;
    }

    .social-items {
        margin: 0 auto;
        width: 40%;
        float: none;
        border-top: 1px solid #aeaeae;
        padding-top: 20px;
    }

    .all-rights {
        text-align: center;
        width: auto;
        float: none;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-logo a {
        width: 18%;
        margin: 0 auto;
    }

    .contact-dev {
        margin-bottom: 50px;
        width: 100%;
    }

    .item {
        text-align: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px), only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .top-menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .col {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .col h3 {
        text-align: center;
        margin-bottom: 30px;
    }

    .col p {
        margin: 0 16% 40px;
    }

    .bottom div {
        width: 41%;
        margin: 0 auto;
    }

    .right {
        display: none;
    }

    .bottom div:nth-child(2n) {
        margin-left: 4%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px), only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    .item {
        width: 100% !important;
        text-align: center;
        margin: 30px auto;
        float: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .social-items {
        width: 60%;
    }
}

/*--------------------MEDIA-QUERIES-END--------------------*/